*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-position: center center;
    margin:0;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5rem;
    font-weight: lighter;
    font-family:monotype corsiva;
    text-align: center;
   margin: 0 auto ; 
   
}
.countdown-container{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;

   
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
    color: blueviolet;
}
.count-el{
    text-align: center;
}
.count-el span{
    font-size:1.5rem;
    line-height: 6rem;
    font-family: cursive;
    font-weight: bold;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
}
#myBtn{
    width:200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color:#fff;
    cursor: pointer;
}
#myBtn:hover{
    background: #ddd;
    color: black;
}
.myStyle{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRq6AB6te0hpKmeyAHXqqksY_JNongme5344A');
    font-size: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    color:rgba(0,0,0,.2);
    text-align: center;
    top:0;
}
@media(max-width:520px){
    .count-el span{

        line-height: 0.8rem;
    }

}